{
  "parser": "babel-eslint",
    "extends": [
      "standard"
    ],
    "plugins": [
      "babel"
    ],
    "rules": {
      "key-spacing": 0,
      "jsx-quotes": [2, "prefer-single"],
      "max-len": [2, 160, 2],
      "object-curly-spacing": [2, "always"],
      "no-undef": 0,
      "func-call-spacing": 0,
      "no-unexpected-multiline": 0,
      "semi": 0
    }
}
