*.pyc
*.log
pids
*.pid
*.seed
lib-cov
coverage
.grunt
.lock-wscript
build/Release
.eslintcache
node_modules
.DS_Store
release
dist
dll
main.js
main.js.map
.idea
npm-debug.log.*
*.tsv
_private
static/admin
*.exe
*.jpg
*.png
.next
stats.txt
.env
docs/**